{% extends "layout.html" %}

{% block title %}
    About Us
{% endblock %}

{% block main %}
        <section class="content-section container">
            <h1 class="section-header">About Us</h2>
            <p class="section-header">Welcome to College Match!</p>
            <p class="section-header">Hello! Our names are Benista Owusu-Amo and Lei Hanna. We created College Match to provide insight on our university. We were inspired to create this website after taking Harvard's CS50 class, and with the help of our teaching fellow, Phyllis Zhang, and many others, College Match was born. This website asks the user to input their GPA and/or their SAT/ACT scores, and then provides information about how many Harvard College students share the same statistics as them. We thought that this would be interesting information for incoming students to have access to. </p>
        </section>
        
        <style>
            body {
            background-image: url('https://images.unsplash.com/photo-1519752218967-a53bae32902a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=871&q=80');
            background-repeat: no-repeat;
            background-size: cover;
            }
        </style>
{% endblock %}