{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
        <header class="main-header">
            <h1 class="page-topic" style="color: white;">College Match</h1>
        </header>

        <section class="content-section container">
            <h1 class="section-header" style="color: white;">Welcome to Harvard.</h1>
            <h3 class="section-header" style="color: white;"> Thank you for creating a profile with College Match! In order to look at the profile you created, or to update your profile, click on 'Profile' in the navigation bar. In order see how many students at Harvard have the same statistics as you, click on 'Mathes'. We hope you enjoy this website. Happy Matching!</h3>
        </section>

        <style>
            body {
            background-image: url('https://images.unsplash.com/photo-1475359524104-d101d02a042b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2194&q=80');
            background-repeat: no-repeat;
            background-size: cover;
            }
          </style>
{% endblock %}
